body {
	background: url(../images/bg.jpg) no-repeat #6b563a;
	background-size: 100%;
}

.container {
	text-align: center;
	max-width: 640px;
}

.well {
	opacity: 0.95; /* luie zak-modus */
}

p.question {
	font-size: 18.75px;
	margin-bottom: 17px;
	line-height: 1.4;
}

div.answers {
	text-align: left;
}

div.answers .list-group-item-heading {
	margin-bottom: 0;
	font-weight: 400;
}

img {
	max-width: 100%;
	max-height: 320px;
}

img.piet {
	-webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.emoji {
	display: inline;
	height: 16px;
	vertical-align: baseline;
}

#containerLogo {
	text-align: center;
	padding: 25px 0;
}

#containerLogo img {
	max-width: 90%;
}

.well > h1:first-child, .well > p:first-child {
	margin-top: 0;
}

.well > p:last-child, .well > div:last-child {
	margin-bottom: 0;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
    text-align: left;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}