body {
	background: url(../images/sniklaas.jpg) repeat #fbde8a;
	font-family: 'Bitter', serif;
	font-size: 16px;
}

.container {
	text-align: center;
	max-width: 640px;
	min-width: 320px;
}

.well {
	box-shadow: none;
	-webkit-box-shadow: none;
	background: url(../images/well_bg.png);
	border: 1px solid #f4cb65;
}

.btn-warning {
	background-color: #81642f;
	border-color: #543b22;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
	background-color: #a48449;
	border-color: #543b22;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
	color: #ffffff;
	background-color: #81642f;
	border-color: #543b22;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #e1b64f;
	border-color: #bf9341;
}

p.question {
	font-size: 18.75px;
	margin-bottom: 17px;
	line-height: 1.4;
}

div.answers {
	/*text-align: left;*/
}

div.answers .list-group-item-heading {
	margin-bottom: 0;
	font-weight: 400;
}

img {
	max-width: 100%;
	max-height: 320px;
}

img.piet {
	-webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

img.meter {
	max-width: 45.3%; /* Alsjeblieft Wouter */
}

.voortgang {
	width: 514px;
	margin: 14px auto 0;
}

.voortgang-links {
	float: left;
	margin-right: 14px;
}

.voortgang-rechts {
	float: left;
}

.pakje {
	height: 53px;
	float: left;
	background-image: url(../images/kado-leeg.gif);
	background-repeat: no-repeat;
}

.pakje-1 {
	width: 48px;
}

.pakje-2 {
	width: 54px;
	background-position: -48px 0;
}

.pakje-3 {
	width: 50px;
	background-position: -102px 0px;
}

.pakje-4 {
	width: 55px;
	background-position: -152px 0px;
}

.pakje-5 {
	width: 43px;
	background-position: -207px 0px;
}

.pakje-vol {
	background-image: url(../images/kado-vol.gif);
}

@media only screen and (max-width : 587px) {
	.voortgang {
		width: 264px;
	}
	.pakje {
		height: 75px;
	}
	.voortgang-rechts .pakje {
		height: 53px;
	}
}

.emoji {
	display: inline;
	height: 16px;
	vertical-align: baseline;
}

#containerLogo {
	text-align: center;
	padding: 25px 0;
}

.voortgang-rechts .pakje {
	height: 53px;
}

#containerLogo img {
	max-width: 90%;
}

.well > h1:first-child, .well > p:first-child, .result > h1:first-child {
	margin-top: 0;
}

.well > p:last-child, .well > div:last-child, .result > p:last-child {
	margin-bottom: 0;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
    text-align: left;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}